body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    height: 90vh;
    width: 90vh;
    border: 2px solid black;
  }

  #alternativeTopVertical,#alternativeCenterVertical, #alternativeBottomVertical, 
  #alternativeLeftHorizontal,#alternativeRightHorizontal,
  #alternativeTopLeft_vertical,  #alternativeTopRight_vertical,  
  #alternativeBottomLeft_vertical, #alternativeBottomRight_vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 2px solid rgb(0, 0, 0);
  }

  #topVertical, #centerVertical, #bottomVertical,
  #leftHorizontal, #rightHorizontal,
  #topLeft_vertical,#bottomLeft_vertical,
  #topRight_vertical,#bottomRight_vertical{
    border: 2px solid blueviolet;
    /* background-color: teal; */
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
  }
  
  #horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    height: 10vh;
    width: 80vh;
    border: 2px solid red;
  }
  
  #vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    flex-wrap: wrap;
    height: 80vh;
    width: 10vh;
    border: 2px solid rgb(0, 4, 255);
    position: absolute;
  }

  #alternativeTopVertical{
    align-self: flex-start;
  }

  #centerVertical{
    background-color:none;
    z-index: 4;
  }
  #alternativeCenterVertical{
    align-self: center;
    z-index: 1;
    height: 27vh;
    width: 27vh;
    position: absolute;
    background-color: white;
  }
  
  #alternativeBottomVertical{
    align-self: flex-end;
  }
  
  #left_vertical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid rgba(57, 163, 81, 0.758);
    transform: rotate(45deg);
    height: 10vh;
    width: 95vh;
    position: absolute;
  }

  #right_vertical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid rgb(65, 214, 134);
    transform: rotate(-45deg);
    height: 10vh;
    width: 95vh;
    position: absolute;
  }
  
  /* span{
    display: none;
  } */

  
  .Visible{
    /* visibility:visible; */
    display: block;
  }

  .Hide{
    /* visibility: hidden; */
    display: none;
  }
  
  .West,.East,.South,.North,.North_West,.South_West,.North_East,.South_East{
    font-size: 5vh;
    position: relative;
    width: 5vh;
  }