body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 98vh;
    width: 210vh;
  }

  .section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .left{
    flex:1.5;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    height: 88vh;
    width: 88vh;
    border: 2px solid black;
  }

  #alternativeTopVertical,#alternativeCenterVertical, #alternativeBottomVertical, 
  #alternativeLeftHorizontal,#alternativeRightHorizontal,
  #alternativeTopLeft_vertical,  #alternativeTopRight_vertical,  
  #alternativeBottomLeft_vertical, #alternativeBottomRight_vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 2px solid rgb(0, 0, 0);
  }

  #topVertical, #centerVertical, #bottomVertical,
  #leftHorizontal, #rightHorizontal,
  #topLeft_vertical,#bottomLeft_vertical,
  #topRight_vertical,#bottomRight_vertical{
    border: 2px solid blueviolet;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
  }
  
  #horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    height: 10vh;
    width: 80vh;
    border: 2px solid red;
  }
  
  #vertical{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    flex-wrap: wrap;
    height: 75vh;
    width: 10vh;
    border: 2px solid rgb(0, 4, 255);
    position: absolute;
  }

  #alternativeTopVertical{
    align-self: flex-start;
  }

  #centerVertical{
    background-color:none;
    z-index: 4;
  }
  #alternativeCenterVertical{
    align-self: center;
    z-index: 1;
    height: 27vh;
    width: 27vh;
    position: absolute;
    background-color: white;
  }
  
  #alternativeBottomVertical{
    align-self: flex-end;
  }
  
  #left_vertical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid rgba(57, 163, 81, 0.758);
    transform: rotate(45deg);
    height: 10vh;
    width: 95vh;
    position: absolute;
  }

  #right_vertical{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid rgb(65, 214, 134);
    transform: rotate(-45deg);
    height: 10vh;
    width: 95vh;
    position: absolute;
  }
  
  /* span{
    display: none;
  } */

  
  .Visible{
    /* visibility:visible; */
    display: block;
  }

  .Hide{
    /* visibility: hidden; */
    display: none;
  }
  
  .West,.East,.South,.North,.North_West,.South_West,.North_East,.South_East{
    font-size: 5vh;
    position: relative;
    width: 5vh;
  }

  .rules{
    flex: 1;
    border: 2px solid blue;
    border-radius: 50px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 3px;
    word-spacing: 10px;
  }
  li{
    text-align: left;
    margin: 40px;
    font-weight: 500;
    font-size: large;
  }

  /* @media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
      height: 700px;
      justify-content: space-around;
    }
    .container{height:63vh; width:63vh;}
    #vertical{height:60vh;}
    #alternativeCenterVertical{height:25vh; width:25vh;}
    #horizontal{width:60vh;}
    #left_vertical{width:60vh;}
    #right_vertical{width:60vh;}
  } */